.jumbotron {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px red;
  background-image: url("RushHourImage.jpeg"); /*soure: http://heuristieken.nl/wiki/
  index.php?title=Rush_Hour

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center center;
background-repeat: repeat;
background-size: contain;
}

.container {
border: 5px solid #B22222;
border-radius: 10px;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 25px;
}
